# Student Loan Risk with Deep Learning

In [19]:
# Imports
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [20]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
display(loans_df.head())
display(loans_df.tail())
display(loans_df.columns)

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,1

Index(['payment_history', 'location_parameter', 'stem_degree_score',
       'gpa_ranking', 'alumni_success', 'study_major_code',
       'time_to_completion', 'finance_workshop_score', 'cohort_ranking',
       'total_loan_score', 'financial_aid_score', 'credit_ranking'],
      dtype='object')

In [21]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [23]:
# Check the credit_ranking value counts
display(loans_df["credit_ranking"].value_counts())
display(loans_df["credit_ranking"].unique())

credit_ranking
1    855
0    744
Name: count, dtype: int64

array([0, 1])

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the credit_ranking column
# Note shape should be 1 row, col indeterminant
y = np.array(loans_df["credit_ranking"])


# Display a sample of y
display(y[0:5])

array([0, 0, 0, 1, 0])

In [25]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
display(X.head())

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [26]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Scale the data (train and test)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [28]:
# Define the the number of inputs (11 features) to the model
input_nodes = len(X.columns)

# Review the number of features
display(input_nodes)

11

In [29]:
# Define the number of hidden nodes (neurons) for the first hidden layer
first_layer_neurons = 6

# Define the number of hidden nodes for the second hidden layer
second_layer_neurons = 3

# Define the number of neurons in the output layer
output_layer_neurons = 1

In [ ]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Input(shape=(input_nodes,))) 

# Add the first hidden layer
# Relu is a positive linear function
nn_model.add(tf.keras.layers.Dense(units=first_layer_neurons, activation="relu"))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=second_layer_neurons, activation="relu"))


# Add the output layer to the model specifying the number of output neurons 
# and activation function.  Note: This is a binary classification (Hypothesis 
# question) with probability, so we must use the Sigmoid Function
# Note: Softmax is typically used when there is more than 2 classes
nn_model.add(tf.keras.layers.Dense(units=output_layer_neurons, activation="sigmoid"))

In [42]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 3)              │            21 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 97 (388.00 B)

 Trainable params: 97 (388.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [43]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(
    X_train_scaled, 
    y_train, 
    epochs=50,
    batch_size=32,  # Adjust based on dataset size
    verbose=1  # Shows training progress
)

Epoch 1/50

2025-03-02 13:16:00.941003: E tensorflow/core/grappler/optimizers/meta_optimizer.cc:961] PluggableGraphOptimizer failed: INVALID_ARGUMENT: Failed to deserialize the `graph_buf`.

38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step - accuracy: 0.5568 - loss: 0.6846
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.5742 - loss: 0.6795
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.5947 - loss: 0.6670
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - accuracy: 0.6249 - loss: 0.6523
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.6283 - loss: 0.6451
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.6693 - loss: 0.6222
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.6990 - loss: 0.6012
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.6821 - loss: 0.5848
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7053 - loss: 0.5638
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7263 - loss: 0.5557
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7178 - loss: 0.5684
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7402 - loss: 0.5288
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7297 - loss: 0.5410
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7333 - loss: 0.5335
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7301 - loss: 0.5411
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7553 - loss: 0.5035
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7375 - loss: 0.5340
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7341 - loss: 0.5225
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7155 - loss: 0.5333
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7174 - loss: 0.5489
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7601 - loss: 0.5035
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7419 - loss: 0.5252
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7289 - loss: 0.5271
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.7345 - loss: 0.5173
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7122 - loss: 0.5382
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7405 - loss: 0.5134
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7341 - loss: 0.5184
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7588 - loss: 0.4954
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7330 - loss: 0.5295
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7303 - loss: 0.5256
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7343 - loss: 0.5232
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7350 - loss: 0.5211
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7380 - loss: 0.5366
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7454 - loss: 0.5039
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7622 - loss: 0.5070
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7487 - loss: 0.5090
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7440 - loss: 0.5144
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7469 - loss: 0.5191
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7440 - loss: 0.5187
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - accuracy: 0.7634 - loss: 0.5053
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7690 - loss: 0.4907
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7619 - loss: 0.5000
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - accuracy: 0.7458 - loss: 0.5111
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7495 - loss: 0.5171
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7412 - loss: 0.5134
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7548 - loss: 0.4948
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7500 - loss: 0.5035
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7506 - loss: 0.5233
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - accuracy: 0.7448 - loss: 0.5049
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.7697 - loss: 0.4957

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy on the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=1)

# Display the formatted model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7584 - loss: 0.4876
Loss: 0.5093193054199219, Accuracy: 0.7524999976158142

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [46]:
# Set the model's file path
file_path = Path("saved_models/attrition.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [47]:
# Set the model's file path
file_path = Path("saved_models/attrition.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [ ]:
# Make predictions with the test data
# Feed data into model and make a prediction if user will default on a loan
predictions = nn_model.predict(X_test_scaled, verbose=2)


# Display a sample of the predictions
predictions[0:5]

13/13 - 0s - 9ms/step

array([[0.48399   ],
       [0.35558292],
       [0.79999804],
       [0.7064676 ],
       [0.9604423 ]], dtype=float32)

In [49]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [ ]:

# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.71      0.80      0.75       188
           1       0.80      0.71      0.75       212

    accuracy                           0.75       400
   macro avg       0.75      0.76      0.75       400
weighted avg       0.76      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
A student loan recommendation system would require financial data, such as payment history and credit ranking, as these are the strongest indicators of an applicant’s ability to repay a loan. Additionally, academic factors such as major and GPA can help assess earning potential and the likelihood of graduation, further informing loan recommendations.


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

A context-based filtering approach would be the most suitable for a student loan recommendation system, as it analyzes patterns from other users within similar financial and academic contexts to determine a student’s loan eligibility. By examining payment history, credit ranking, total loan score, GPA, major, alumni success, and time to graduation, the system can make informed recommendations based on real-world repayment trends.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

**Socioeconomic Bias:** A major challenge in developing a student loan recommendation system is avoiding socioeconomic bias, where students from lower-income backgrounds may be unfairly disadvantaged. If the system heavily relies on credit ranking, payment history, financial aid, or total loan score, it may favor students with wealthier backgrounds who have better financial stability. This could perpetuate financial inequality, making it harder for low-income students to access loans or obtain favorable interest rates. Thefore, the system should incorporate alternative creditworthiness measures (e.g., academic performance, earning potential) rather than solely relying on traditional financial indicators that disproportionately disadvantage underprivileged students.

**Racial and Institutional Bias:** Historical lending data has shown racial disparities in loan approvals, with students of color often facing higher interest rates or loan denials due to systemic biases in financial systems. If the model is trained on biased historical data, it may reinforce these inequities, leading to discriminatory lending patterns. Additionally, institutional bias could arise if students from historically Black colleges and universities (HBCUs) or underfunded institutions receive fewer loan recommendations due to perceived lower earning potential. To prevent this, the system should be trained on diverse, representative datasets and use fairness-aware machine learning techniques to ensure equitable loan distribution regardless of race, background, or institution.